@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h1>판매 등록</h1>
<form id="sale">
    <select id="products">
        @foreach (var product in ViewBag.prodList)
        {
            <option value="@product.Name">@product.Name</option>
        }
    </select>
    판매수량 <input type="number" min=0 id="quantity" />
    <select id="customers">
        @foreach (var customer in ViewBag.Customers)
        {
            <option value="@customer.Name">@customer.Name</option>
        }
    </select>
    <button type="submit">등록</button>
</form>
<a href="~/Sale/SaleList">판매 조회</a>
<script type="module" src="~/Scripts/saleInput.js"></script>
