@{
    Layout = null;
}

<h1>로그인</h1>
<form id="login">
    아이디 : <input type="text" id="idInput">
    비밀번호 : <input type="password" id="pwdInput">
    <input type="submit" value="로그인">
</form>
<a href="~/Home/signup">회원가입 페이지로</a>
<script type="module" src="~/Scripts/signIn.js"></script>