@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<h1>거래처 등록</h1>
<form method="post" id="accntInput">
    거래처명 : <input type="text" id="prodName"><br />
    <input type="submit" id="prodInputBtn">
</form>

<a href="~/Account/acntLst">거래처 조회</a>
<script type="module" src="~/Scripts/accountPost.js"></script>

